/* PROYECTOS */
#proyectos a {
  display: inline-block;
  margin: 8px;
  padding: 10px;
  background: var(--clr-accent);
  color: black;
  border-radius: var(--radius);
  transition: var(--transition);
}

#proyectos a:hover {
  transform: scale(1.05);
}