/* NAV BASE */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* LINKS (PC y tablet) */
.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

/* BOTÓN oculto en PC */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

/* ===== SOLO MÓVIL ===== */
@media (max-width: 640px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        background: #111;
        flex-direction: column;
        padding: 20px;
    }

    .nav-links.active {
        display: flex;
    }
}

