/* ===== BASE (MÓVIL) ===== */

nav,
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.proyectos-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


/* ===== TABLET ===== */
@media (min-width: 768px) {

    .proyectos-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* ===== ESCRITORIO ===== */
@media (min-width: 1024px) {

    .proyectos-container {
        grid-template-columns: repeat(3, 1fr);
    }

    nav,
    .nav-menu {
        flex-direction: row;
        justify-content: space-between;
    }
}










/* NAV BASE */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* LINKS */
.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

/* BOTÓN (oculto en PC) */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

/* ===== MÓVIL ===== */
@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: #111;
        display: none; /* oculto */
        padding: 1rem 0;
    }

    .nav-links.active {
        display: flex; /* se muestra */
    }

    .menu-toggle {
        display: flex; /* aparece botón */
    }
}